:root {
    --outline: #00fff2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    font-family: "VT323";
}

html {
    background-color: black;
}

img {
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column {
    position: relative;
    width: 40%;
    height: 90%;
    margin: 40px;
}

header {
    font-family: "Press Start 2P";
    font-size: 30px;
    cursor: pointer;
    margin: 20px;
}

header:hover {
    color: var(--outline);
}

h2 {
    margin-left: 30px;
    font-family: "Press Start 2P";
    font-weight: 50;
}

h3 {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
}

/* Outline */
.customizer, #alien {
    border: 5px solid var(--outline);
}

.sections, .shapes, .other-shapes {
    border-bottom: 5px solid var(--outline);
}

input[type="color"] {
    border-radius: 5px; 
}

/* Background */
.background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img {
    margin: 20px;
    outline: 3px solid white;
    cursor: pointer;
}

.background img:hover {
    outline: 3px solid var(--outline);
}

/* Customizer */
.customizer {
    width: 50%;
    height: 90%;
}

    /* Body */
    .shapes, .other-shapes {
        padding-bottom: 20px;
    }
    .properties, .pattern {
        margin-top: 20px;
    }

    .property-section {
        display: flex;
        flex-direction: column;
    }

        /* Sections */
        .sections {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .icons {
            margin: 10px;
        }
        
        /* Body Shape */
        .shapes-container, .other-shapes-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px;
        }

        /* Values Slider */
        .slider-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px;
        }

        .body-slider, .plant-count-slider {
            accent-color: var(--outline);
        }

        /* Pattern */
        .pattern-shapes, .pattern-canvas, .pattern-colors {
            margin: 10px;
            margin-bottom: 0;
            height: 100%;
        }
        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .pattern-container {
            margin-left: 30px;
            margin-top: 20px;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
        }

        .pattern-colors div {
            margin: 15px;
        }

        .pattern-detail {
            margin: 5px;
        }

        #pattern-maker {
            width: 100%;
            height: 100%;
        }
    
    .other-properties {
        display: flex;
        flex-direction: column;
    }

/* Other */
.other {
    height: 40%;
    margin-top: 40px;
}

.other-values {
    margin-left: 30px;
}

.other-values h2 {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 20px;
}

.other-slider-container {
    margin-top: 5px;
}

.other-color div {
    margin-bottom: 15px;
}

.other-properties {
    display: none;
}

/* 3D Model */
#alien {
    position: relative;
    width: 100%;
    height: 60%;
}

#alien-canvas {
    width: 100%;
    height: 100%;
}